* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root {
    --animation-length: 0.85s;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}

svg {
    height: 500px;
}

#eyes {
    transform-origin: 0px 400px;
    animation: blink 5s linear 2s infinite;
}

#torso {
    transform-origin: 400px 0px;
    animation: idle-torso var(--animation-length) ease-in-out 1s infinite;
}

#head {
    transform-origin: 400px 200px;
    animation: idle-head var(--animation-length) linear 1.009s infinite;
}

#left-leg {
    transform-origin: 340px 500px;
    animation: idle-legs var(--animation-length) ease-in-out 0.99s infinite;
}

#right-leg {
    transform-origin: 440px 500px;
    animation: idle-legs var(--animation-length) ease-in-out 0.99s infinite;
}

#human-baby {
    transform-origin: 410px 515px;
    animation: idle-torso-babies var(--animation-length) linear 1.2s infinite;
}

#panda-baby {
    transform-origin: 410px 515px;
    animation: idle-torso-babies var(--animation-length) linear 1.02s infinite;
}

@keyframes blink {
    0% {
        transform: scaleY(1);
    }
    1% {
        transform: scaleY(0.1);
    }
    2% {
        transform: scaleY(1);
    }
    98% {
        transform: scaleY(1);
    }
    99% {
        transform: scaleY(0.1)
    }
    100% {
        transform: scaleY(1);
    }
}


@keyframes idle-torso-babies {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-2.5px) scale(1.025);
    }
    50% {
        transform: translateY(2.5px) scale(1.05);
    }
    62.5% {
        transform: translateY(5px) scale(1.02);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes idle-torso {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-2.5px);
    }
    50% {
        transform: translateY(2.5px);
    }
    62.5% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes idle-head {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-2.1px);
    }
    50% {
        transform: translateY(2.1px) scale(1.01);
    }
    62.5% {
        transform: translateY(4.1px) scale(1);
    }
    100% {
        transform: translateY(0px);
    }
}


@keyframes idle-legs {
    0% {
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(1.01);
    }
    50% {
        transform: scaleY(0.99);
    }
    62.5% {
        transform: scaleY(0.98);
    }
    100% {
        transform: scaleY(1);
    }
}